.navbar {
    color: #ffffff;
    background-color: gray;
    width: 100%;        
    padding: 1rem;                  
    align-items: center;
}

.navbar Link {
    margin-left: 1rem;
    background-color: black;
}